*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*HEADER*/
.header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-div {
  max-width: 1360px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.header a img {
  width: 190px;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.menu .menu-ul {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 5px;
  list-style-type: none;
}

.menu .menu-ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 10px;
}

.menu .menu-ul li a:hover {
  font-weight: bold ;
}

.menu-right {
  display: flex;
  gap: 15px;
}

.menu-right-individual {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 10px;
  gap: 10px
}

.span-pesquisa {
  width: 80px;
  padding-top: 5px;
}
.header span{
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .headerMobile{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header{
    display: none;
  }
  .headerMobile .hamburger.is-active .hamburger-inner,
.headerMobile .hamburger.is-active .hamburger-inner::before,
.headerMobile .hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}
.headerMobile .hamburger-box {
  width: 20px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 1px;
}
.headerMobile .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.headerMobile .hamburger-inner,
.headerMobile .hamburger-inner::before,
.headerMobile .hamburger-inner::after {
  width: 20px;
  height: 1px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.headerMobile .hamburger-inner::before,
.headerMobile .hamburger-inner::after {
  content: "";
  display: block;
}
.headerMobile .hamburger-inner::before {
  top: -5px;
}
.headerMobile .hamburger-inner::after {
  bottom: -5px;
}
.headerMobile{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerMobile img{
  position: relative;
  left: 10px;
}

.headerMobile a img{
  width: 150px;
}
.header-div {
  max-width: 768px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
}
}

/*BANNER INICIAL*/
main{
    border: 1px solid red;
}
.banner-inicial {
    position: relative;
    width: 100%;
    display: flex;
}

.banner-inicial img {
    width: 100%;
}

.banner-inicial-conteudos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap:10px
}

.banner-inicial-conteudos h1,
.banner-inicial-conteudos h3,
.banner-inicial-conteudos p {
    color: white;
    margin: 0;
}

.banner-inicial-conteudos h1 {
    font-size: 85px;
    font-weight: 600;
}

.banner-inicial-conteudos h3 {
    font-weight: 100;
    font-size: 16px;
    padding-bottom: 5px;
}

.banner-inicial-conteudos img {
    width: 120px;
    padding-bottom: 20px; 
}

.banner-inicial-conteudos p {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    width: 80%;
}

@media only screen and (max-width: 768px) {
    .banner-inicial {
        height: 300px;
    }

    .banner-inicial-conteudos {
        width: 80%;
    }
    
    .banner-inicial-conteudos h1 {
        font-size: 50px;
    }

    .banner-inicial-conteudos h3 {
        font-size: 14px;
    }

    .banner-inicial-conteudos img {
        width: 80px;
    }

    .banner-inicial-conteudos p {
        font-size: 10px;
        width: 100%;
    }
}

/*SESSÃO AMAGOLD*/
.sessao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sessao-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    gap: 40px;
}
.sessao-conteudo h1{
    color: black;
    font-size: 55px;
}

.sessao-conteudo p,
.sessao-conteudo h4 {
    color: black;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    font-size:14px;
}

.sessao-conteudo p{
  color: rgb(86, 86, 86);
}

.sessao-img {
    width: 45%;
}

.sessao-img img {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .sessao {
    flex-direction: column;
}
    .sessao-conteudo {
    width: 100%;
    gap: 40px;
    margin-top:50px;
    margin-bottom:50px;
}
    .sessao-conteudo h1{
    font-size: 30px;
}
.sessao-conteudo p,
.sessao-conteudo h4 {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size:12px;
}
    .sessao-img {
     width: 100%;
}
}

/*COMPOSIÇÃO DAS CORES*/
.comp-cores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin: 80px;
    text-align: center;
}

.comp-cores img.anel{
    padding-top: 20px;
    width: 35%;
}

.comp-cores h1{
    font-size: 40px;
}

.comp-cores h4, 
.comp-cores p{
    font-size: 12px;
    width: 50%;
}

.comp-cores p{
    color: rgb(83, 82, 82);
    width: 30%;
}
.comp-cores img{
    padding-top: 20px;
    width: 70%;
}

@media only screen and (max-width: 768px) {
    .comp-cores {
    margin-left: 50px;
    margin-right: 50px;
    margin-top:0;
}
.comp-cores img.anel{
    padding-top: 0px;
    width: 100%;
}
    .comp-cores h1{
    font-size: 22px;
}
.comp-cores h4{
    width: 100%;
}

.comp-cores p{
    width: 100%;
}
.comp-cores img{
    padding-top: 0px;
    width: 100%;
}
}

/*TEOR*/

@media only screen and (min-width: 768px) {
    .mobile{
        display: none;
    }
}

.teor {
    position: relative;
    text-align: center;
}

.teor img {
    width: 100%;
    display: flex;
}

.teor-conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.teor-conteudo h1,
.teor-conteudo h4,
.teor-conteudo p {
    color: white;
    margin: 0;
    text-align: center;
}


.teor-conteudo h1{
    font-size: 120px;
}

.teor-conteudo h4{
    font-weight: 400;
    font-size: 14px;
    width: 40%;
}

.teor-conteudo p{
    font-weight: 100;
    font-size: 12px;
    width: 65%;
}

@media only screen and (max-width: 768px) {
    .teor img {
        display:none;
    }
    .mobile{
        width: 100%;
    }
    .teor{
        display: flex;
    }
    .teor-conteudo h1{
        font-size: 60px;
    }
    .teor-conteudo h4{
        width: 80%;
    }
    .teor-conteudo{
        width:100%
    }
    .teor-conteudo p{
        width: 70%;
    }
}

/*PADRÃO TEOR*/

@media only screen and (min-width: 768px){
    img.vertical{
        display: none;
    }
}

.padrao-teor {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.padrao-teor-desfoque {
    position:absolute;
    width:50%;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.065);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index:3
}
.padrao-teor-desfoque h1{
    margin-left:15%;
    color: white;
    font-size: 40px;
}

.padrao-teor-preto {
    position:absolute;
    width:50%;
    height: 100%;
    left:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.padrao-teor-preto h4, 
.padrao-teor-preto p{
    color:white;
    text-align: left;
    position: relative;
    width: 50%;
    padding: 0;
    margin-left:48%;
}

.padrao-teor-preto p{
    width: 35%;
}

.padrao-teor-circulo-cont {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    position: absolute;
    z-index: 4;
}

.padrao-teor-circulo {
    width: 13%;
    max-width: 180px;
    height:28%;
    max-height: 180px;
    border-radius:50%;
    background-color:black;
}

.circulo-preto-cont{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    position: absolute;
    z-index:2
}

.circulo-preto {
    width: 100%;
    max-width: 472px; 
    height: 65%;
    max-height: 472px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%); 
}

.circulo-img-cont{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    position: absolute;
    z-index:1;
}

.circulo-img{
  position: absolute;
  width: 100%;
  max-width: 432px;
  left: 0;
  transition: all 0.3s ease;
}

.circulo-img img {
    width: 100%;
    border-radius: 100%;
}

.padrao-teor:hover .circulo-img {
    left: calc(50% - 216px);
}

@media only screen and (max-width: 768px) {
    img.horizontal{
        display:none;
    }
    .padrao-teor {
    flex-direction: row;
    align-items: center;
}

.padrao-teor img.vertical{
    width:100%;
}

.padrao-teor-desfoque {
    width:100%;
    height: 50%;
    z-index:3;
    top:0%;
}

.padrao-teor-desfoque h1{
    margin-left:0%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.padrao-teor-preto {
    width:100%;
    left:0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:35%;
}

.padrao-teor-preto h4, 
.padrao-teor-preto p{
    color:white;
    width: 65%;
    margin-left:0%;
    text-align: center;
    font-size: 14px;
}
.padrao-teor-preto p{
  width: 70%;
}

.padrao-teor-circulo {
    width:25%;
    height:14%;
}

.circulo-preto-cont{
    justify-content: center;
    flex-direction: row; 
}

.circulo-preto {
    width: 60%; 
    height: 38%; 
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%); 
}

.circulo-img-cont{
    right: 0;
    top:0%;
    width: 100%;

}
.circulo-img{
  position: absolute;
  width: 100%;
  max-width: 432px;
  left: 0;
  top: 0px;
  transition: all 0.3s ease;
}

.circulo-img img {
    width: 70%;
    border-radius: 100%;
}

.padrao-teor:hover .circulo-img {
    left: calc(50% - 216px);
    top: 25%; 
}
}


/*QUILATE OU KARAY*/

.quilate-karat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; 
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.quilate-karat video {
  position: absolute;
  top: 100px;
  width: 40%;
  left: 15%;
}

.quilate-karat-texto img {
  width: 85%;
}
.quilate-karat-texto {
  margin-top: 20%;
  margin-bottom: 10%;
  margin-left: 45%;
}

@media only screen and (max-width: 768px) {
    video.meuVideo.desktop{
        display:none;
    }
    .quilate-karat {
        margin: 0px;
        height: 400px;
    }
    .quilate-karat-texto  {
        margin:0px;
    }
     .quilate-karat-texto img {
        width:100%;
        height: 400px;
    }   
}

/*CORES DO OURO*/
.container-sessao {
    display: flex;
    position:relative;
    width:100%;
}

img.img1 {
    width:17%;
    margin-left:30%;
}

.imagem-texto img {
    position: absolute;
    width: 50%;
    top: 27%;
    left: 38%;
}


.img-texo-2 {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    width: 50%;
    top: 41%;
    left: 38%;
    text-align:center
}

.img-texo-2 h1{
    font-size:38px;
}

.img-texo-2 p{
    width:40%;
    font-size:12px;
}

.img-texo-2 button{
    width:50%;
    padding-top:15px;
    padding-bottom:15px;
    color:black;
    font-weight:bold;
    border:0
}

.anel-dourado img,
.anel-prata img,
.anel-rosa img{
    position: absolute;
    width:30%;
    left: 28%;
    top: 18%;
}

.anel-prata img {
    width:52%;
    left: 10%;
    top: 35%;
}

.anel-rosa img {
    width: 52%;
    left: 1%;
    top: 55%;
}

@media only screen and (max-width: 768px) {
    .container-sessao{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img.img1 {
        width:35%;
        margin-left:0;
    }

    .imagem-texto img {
        position: relative;
        width: 100%;
        top: 0;
        left: 0%;
    }

    .img-texo-2 {
        gap: 20px;
        width: 100%;
        top: 75%;
        left: 0%;
    }

    .img-texo-2 h1{
        font-size:28px;
    }

    .img-texo-2 p{
        width:50%;
    }

    .img-texo-2 button{
        padding-top:10px;
        padding-bottom:10px;
    }

    .anel-dourado img,
    .anel-prata img,
    .anel-rosa img{
        width: 100%;
        left: 37%;
        top: 5%;
    }
    .anel-dourado img{
      width: 58%;
    }
    .anel-prata img {
        left: 0;
        top: 24%;
    }

    .anel-rosa img {
        left: -18%;
        top: 45%;
    }  
}

/*ATENDIMENTO*/
.atendimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin: 80px;
    text-align: center;
}

.atendimento img {
    width: 20%;
    transition: transform 0.3s ease;
}

.atendimento img:hover {
    transform: scale(1.1);
}
.atendimento h1 {
    font-size: 40px;
}

.atendimento h4 {
    width: 20%;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .atendimento img{
    width: 60%;
    }
    .atendimento h1 {
    font-size: 20px;
   } 
    .atendimento h4 {
        width: 100%;
    }
}


footer{
  background-color: #000;
  padding: 80px;
}


.footer-container {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 20px;
}
.redes {
  width: 50%;
  display: flex;
  margin-right:300px;
}

.redes a{
  color: white;
  font-size: 12px;
}

footer p{
  color: white;
  font-size: 12px;
}
footer h2{
  color: white;
  font-size: 14px;
  margin-bottom: 60px;
  font-weight: bold;
}
.about h1 {
  margin-bottom: 20px;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 10px;
}

.links a {
  text-decoration: none;
  color: white;
}

.contact-form .text-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}
.contact-form p {
  padding-bottom:40px;
}

.contact-form input{
  background-color: transparent;
  border: none !important;
  border-bottom: 1px solid #424141 !important;
}

input.text-input.contact-input {
  padding:0;
  padding-bottom: 20px !important;
}

button.btn.btn-big {
  margin-top:30px!important;
  border: none !important;
  padding:8px;
  font-weight:bold;
  width: 80%;
  font-size: 10px;
  font-weight: 700;
}

.seguranca{
  margin-top:80px
}

img.google {
  width:35%;
  margin-left:30px;
}


.footer-bottom {
  border-top: 1px solid rgb(79, 79, 79);
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 60px 0;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .footer{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }
  .footer-section{
    padding: 30px;
    width: 30%;
  }
  .redes{
    order:2;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    width: 100%;
  }
  .seguranca{
    order:3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom{
    padding: 30px 0;
  }
}
